#divID {
    background-image: url("../images/Ocean.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    margin: 0%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black; 
}

# backgroundcolor{
	position: absolute;
	background: black;
	pointer-events: none;
	opacity: 0;
	width: 100%;
	top: 0px;
	bottom: 4px;
	z-index: 1;
}

#title {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:10%;
    width: 80%;
    position: relative;
    
}

#startButton {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height: 60%;
    position: relative;
    bottom:20%;
}

#firstDiv{
    width: 80%;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
}

#overlay {
	position: absolute;
	background: black;
	pointer-events: none;
	opacity: 0;
	width: 100%;
	top: 0px;
	bottom: 4px;
	z-index: 99;
}

#beginningPage {
    background-image: url("../images/black1.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.next{
    cursor: pointer;
    width:7%;
    margin-left:90%;
    position:absolute;
    bottom: 4%;
    display: none;
}

p{
    padding: 3vh;
}

#raindropDIV {
    display: none;
}

#text1 {
    background-color:beige;
    width:60%;
    height:18vh;
    margin-right: 15%;
    margin-left: 15%;
    position: absolute;
    bottom: 2%;
    text-align: justify;
    border: 2px solid #298;
    box-shadow: 10px 10px 5px -2px #872;
    border-radius: 5px 10px 15px 20px;
    color: black;
    font-size: 32pt;
}
#text2 {
    background-color:beige;
    width:60%;
    height:18vh;
    margin-right: 15%;
    margin-left: 15%;
    position: absolute;
    bottom: 2%;
    text-align: justify;
    border: 2px solid #298;
    box-shadow: 10px 10px 5px -2px #872;
    border-radius: 5px 10px 15px 20px;
    color: black;
    font-size: 32pt;
}

#bottomBar {
    background-image: url("../images/back.png");
    position: absoulte;
    bottom: 0;
    width: 100%;
    height: 10vh;
}


#raindropGame {
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}


canvas {
    border-style: none;
}



#sinkGame {
    background: transparent;

}

#sinkGameWater {
    background-image: url("../images/Ocean.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#timer {
    position: absolute;
    margin: 0;
    color: white;
    right: 1%;
}

.tap {
    position: absolute;
    cursor: pointer;
    height: 25vh;
    width: auto;
}

#tap1 {
    bottom: 35%;
    left: 20%;
}

#tap2 {
    bottom: 35%;
    left: 45%;
}

#tap3 {
    bottom: 35%;
    right: 20%;
}

#tap4 {
    bottom: 55%;
    left: 20%;
}

#tap5 {
    bottom: 55%;
    left: 45%;
}
#tap6 {
    bottom: 55%;
    right: 20%;
}

#tap7 {
    bottom: 75%;
    left: 20%;
}

#tap8 {
    bottom: 75%;
    left: 45%;
}

#tap9 {
    bottom: 75%;
    right: 20%;
}

#promptBox {
    top:28%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#promptBoxContent {
    background-color: #6699ff;
}

#promptBoxBody {
    background-color: white;
}

#userNameInput {
    width: 100%;
}

#nameBlank {
    color: red;
    display: none;
    font-size: 10pt;
}

#sliceDIV {
    display: none;
}

#sliceGame {
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}



