canvas {
    border-style: none;
}

#raindropDiv {
    height: 90%;
    width: 100%; 
}

#raindropGame {
    background-image: url("../html/img/raindropBack.jpg");
    height: 90%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    margin: 0%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black; 
}

#bottomBar {
    margin-bottom: 5%;
    padding: 0%;
    background-color: yellow;
    height: 9%;
    width: 100%;
}

.next {
    float: right;
    height: 3vh;
}

.btn {
    background: #c6e1f2;
    background-image: -webkit-linear-gradient(top, #c6e1f2, #43aff2);
    background-image: -moz-linear-gradient(top, #c6e1f2, #43aff2);
    background-image: -ms-linear-gradient(top, #c6e1f2, #43aff2);
    background-image: -o-linear-gradient(top, #c6e1f2, #43aff2);
    background-image: linear-gradient(to bottom, #c6e1f2, #43aff2);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10%;
    font-family: Arial;
    color: #000000;
    font-size: 80%;
    padding: 1%;
    margin-left: 2%;
    margin-top: 1%;
    border: solid #1f628d 2%;
    text-decoration: none;
    text-align: center;
  }
  
  .btn:hover {
    background: #dee4f7;
    background-image: -webkit-linear-gradient(top, #dee4f7, #43abf0);
    background-image: -moz-linear-gradient(top, #dee4f7, #43abf0);
    background-image: -ms-linear-gradient(top, #dee4f7, #43abf0);
    background-image: -o-linear-gradient(top, #dee4f7, #43abf0);
    background-image: linear-gradient(to bottom, #dee4f7, #43abf0);
    text-decoration: none;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }