canvas {
    border-style: none;
}

#sliceDIV {
    display: none;
}

#sliceGame {
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    margin: 0%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black; 
}

#overlay {
	position: absolute;
	background: black;
	pointer-events: none;
	opacity: 0;
	width: 100%;
	top: 0px;
	bottom: 4px;
	z-index: 99;
}

#bottomBar {
    background-image: url("../images/back.png");
    position: absoulte;
    bottom: 0;
    width: 100%;
    height: 10vh;
}

.next{
    cursor: pointer;
    width:7%;
    margin-left:90%;
    position:absolute;
    bottom: 4%;
}

#textbox {
    background-color:beige;
    width:78%;
    height: 25%;
    margin-right: 10%;
    margin-left: 10%;
    position: absolute;
    bottom: 4%;
    text-align: justify;
    border: 2px solid #298;
    box-shadow: 10px 10px 5px -2px #872;
    border-radius: 5px 10px 15px 20px;
    color: black;
    font-size: 32pt;
}

p{
    font-size: 0px;
    padding-left: 1%;
    padding-right: 1%;
}

/*   .noselect {
    -webkit-touch-callout: none; // iOS Safari 
      -webkit-user-select: none; // Safari 
       -khtml-user-select: none; // Konqueror HTML 
         -moz-user-select: none; // Firefox 
          -ms-user-select: none; // Internet Explorer/Edge 
              user-select: none; // Non-prefixed version, currently
                                    supported by Chrome and Opera 
  } 
*/