canvas {
    border-style: none;
}

#divID {
    background-image: url("../images/black1.jpeg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
}

#overlay {
	position: absolute;
	background: black;
	pointer-events: none;
	opacity: 0;
	width: 100%;
	top: 0px;
	bottom: 4px;
	z-index: 99;
}

.next{
    width:7%;
    margin-left:90%;
    position:absolute;
    bottom: 4%;
}


#textbox {
    background-color:beige;
    width:78%;
    height: 25%;
    margin-right: 10%;
    margin-left: 10%;
    position: absolute;
    bottom: 4%;
    text-align: justify;
    border: 2px solid #298;
    box-shadow: 10px 10px 5px -2px #872;
    border-radius: 5px 10px 15px 20px;
    color: black;
    font-size: 32pt;
}

p{
    padding-left: 1%;
    padding-right: 1%;
}

#earthguy{
    width: 70%;
    height:inherit;
    max-width:700px;
    position: absolute;
    height:auto;
    bottom:0;
    z-index: 0;
}

