#storyPage1 {
    border-style: none;
    background-image: url("../image/testBack.jpeg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#divID {
    background-image: url("../image/black1.jpeg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
}

#overlay {
	position: absolute;
	background: black;
	pointer-events: none;
	opacity: 0;
	width: 100%;
	top: 0px;
	bottom: 4px;
	z-index: 99;
}

#next{
    width:7%;
    margin-left:90%;
    position:absolute;
    bottom: 4%;
}
#next2{
    width:7%;
    margin-left:90%;
    position:absolute;
    bottom: 4%;
}
#next3{
    width:7%;
    margin-left:90%;
    position:absolute;
    bottom: 4%;
}
#next4{
    width:7%;
    margin-left:90%;
    position:absolute;
    bottom: 4%;
}
#next5{
    width:7%;
    margin-left:90%;
    position:absolute;
    bottom: 4%;
}
#next6{
    width:7%;
    margin-left:90%;
    position:absolute;
    bottom: 4%;
}

#textbox{
    width:80%;
    max-height: 300px;
    margin-left:10%;
    margin-right:10%;
    position: absolute;
    bottom: 4%;
}

#textbox {
    width:78%;
    height: 20%;
    max-height: 18%;
    margin-right: 10%;
    margin-left: 10%;
    position: absolute;
    bottom: 4%;
    text-align: justify;
    border: 2px solid #298;
    box-shadow: 10px 10px 5px -2px #872;
    border-radius: 5px 10px 15px 20px;
    color: white;
    font-size: 150%;
}

p{
    padding:2%;
}

#earthguy{
    width: 70%;
    height:inherit;
    position: absolute;
    height:auto;
    bottom:0;
    z-index: 0;
}

